{% include 'mysite/base.html' %}

{% load static %}

<header>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<body>
<div class="container-fluid p-0">
    
          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
              <h1 class="mb-0">Andrew
                <span class="text-primary">Samuelson</span>
              </h1>
              <div class="subheading mb-5">606 East Alexandria Avenue · Alexandria, VA 22301 · (571) 214-7755 ·
                <a href="drewbaer@vt.edu">drewbaer@vt.edu</a>
              </div>
              <p class="mb-5">  I am experienced in optimization algorithms, simulation, statistical analysis, data analytics, machine learning and software/web development. I am an incoming consultant/data analyst at Booz Allen Hamilton in Washington D.C. </p>
              <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                  <a href="https:/www.facebook.com/andrew.b.samuelson">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/absamuelson/">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/daseinkapital">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
    
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
              <h2 class="mb-5">Experience</h2>
    
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">IT Consultant</h3>
                  <div class="subheading mb-3">Excella</div>
                  <p>I was the sole developer for an internal staffing software that Excella would use to determine the size of their bench, their staffing needs, and tracking their pipeline of current work. The project was written in Django and is currently in the process of being updated with a React frontend.</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">September 2017 - Present</span>
                </div>
              </div>
    
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Systems Engineering Intern</h3>
                  <div class="subheading mb-3">Booz Allen Hamilton</div>
                  <p>Worked on internal project to map the spread of infectious diseases in the developing world for the Summer Games in 2017. I built a webapp that utilized an IoT solution to connect mobile phones with the disease reporting application in areas lacking internet infrastructure. On top of all of this was a triple exponential smoothing algorithm (with optimized smoothing coefficients courtsey of a Nelder-Mead algorithm), to detect disease outbreak anomalies and generate reports to help governments act to prevent outbreaks from becoming epidemics. </p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">June 2017 - August 2017</span>
                </div>
              </div>
    
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">IT Consultant</h3>
                  <div class="subheading mb-3">Excella</div>
                  <p>My first project at Excella was updating the donations pages on the PeaceCorps website, primarily focused on transitioning their webpage from solely a Django application to a Django/Wagtail site. Additionally, I wrote scripts to process payments received and automatically update the database via a CRON job.</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">January 2017 - May 2017</span>
                </div>
              </div>
    
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Systems Intern</h3>
                  <div class="subheading mb-3">BioMASON</div>
                  <p>At BioMASON I helped to maintain day to day operations and created a wireless sensor monitoring system that would allow employees to query sensor data from all around the warehouse using ASP.NET framework, C# on the backend, and IIS7 to host over the local server.</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">June 2016 - July 2016</span>
                </div>
              </div>
    
            </div>
    
          </section>
    
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
              <h2 class="mb-5">Education</h2>
    
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Virginia Polytechnic Institute and State University (Virginia Tech)</h3>
                  <div class="subheading mb-3">Bachelor of Science</div>
                  <div>Industrial and Systems Engineering</div>
                  <div>Minor in Statistics</div>
                  <p>GPA: 3.35</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">August 2014 - May 2018</span>
                </div>
              </div>
    
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Lake Oswego High School</h3>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">August 2010 - May 2014</span>
                </div>
              </div>
    
            </div>
          </section>
    
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
              <h2 class="mb-5">Skills</h2>
    
              <div class="subheading mb-3">Programming Languages &amp; Tools</div>
              <ul class="list-inline list-icons">
                <li class="list-inline-item">
                  <i class="devicons devicons-bootstrap" title="Bootstrap"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicon-csharp-plain" title="C Sharp (C#)"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-css3" title="CSS 3"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-django" title="Django"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicon-docker-plain" title="Docker"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-github" title="Github"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-html5" title="HTML 5"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-javascript" title="Javascript"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-jquery" title="jQuery"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-mysql" title="MySQL"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-python" title="Python"></i>
                </li>
                <li class="list-inline-item">
                  <i class="devicons devicons-react" title="React"></i>
                </li>
              </ul>
    
              <div class="subheading mb-3">Workflow</div>
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Mobile-First, Responsive Design</li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Integration &amp; Unit Testing</li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Cross Functional Teams</li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Agile Development &amp; Scrum</li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Validation &amp; Verification Testing</li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Constantly Learning New Technologies</li>
              </ul>
              <br/>
              <div class="subheading mb-3">Other Technologies</div>
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  ASP.NET
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Flexbox
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Font Awesome
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  FusionCharts
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Integer Programming
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Lindo
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Linear Programming
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Machine Learning
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Markovian Modeling
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  MATLAB
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  NoSQL Databases
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  R and R-Markup
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Simio
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  TaoCharts
                </li>
                <li>
                  <i class="fa-li fa fa-angle-right"></i>
                  Wagtail
                </li>
              </ul>
            </div>

          </section>
    
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
              <h2 class="mb-5">Interests</h2>
              <p>Apart from being a web/software development, data analytics, and simulation, I enjoy a lot of different types of art. I am constantly trying to discover music that is new to me and looking at photography from around the world. I actively play guitar and ukulele, along with having dabbled in playing the bass guitar, some keyboard, harmonica, and recorder. As for photography, I currently own a Canon Rebel T7i with a 18mm-135mm f/ 3.5 lens and a 50mm f/ 1.8 lens.</p>
              <p class="mb-3">In 2017, my New Year's Resolution was to listen to 144 (12x12) new albums every 3 months, giving me two months to listen to all the albums and one month to relisten to the albums I really liked and become more familiar with them. I succeeded, but I couldn't stop striving to listen to new music. I am now trying to catalogue all the music I have listened to in hopes of making recommendations for other avid music listeners and to test out some data analytics on something I'm extremely passionate about.</p>
              <p class="mb-3">Photography has always been another passion of mine. I really enjoy looking at beautiful landscape photos and surreal photo edits. Part of what sparked my interest was a genre of music known as vaporwave that had an entire aesthetic that was focused around 70s/80s/90s technology and fusion with nature, along with Roman-Grecco architecture, among other things. I'm now striving to create a collection of beautiful photos similar to what inspired me to buy my camera in the first place.</p>
              <p class="mb-3">One of my other big passions is food. I love eating food and experiencing it with friends. Growing up in Portland, OR I found myself enjoying food trucks and hole-in-the-wall dives around every corner. In the summer of 2017, I finally got around to eating at 2 Michelin Star Restaurants and it was quite an experience. On the other side of my food obsession, I have made it my goal to complete one food challenge that gets my photo on the wall in every US state.</p>
            </div>
          </section>
    
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
            <div class="my-auto">
              <h2 class="mb-5">Awards &amp; Certifications</h2>
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fa fa-certificate text-warning"></i>
                  Six Sigma Green Belt Certification</li>
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  1<sup>st</sup>
                  Place - Mr. Wish - Make-A-Wish Foundation Male Pageant 2018
                </li>
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  1<sup>st</sup>
                  Place - Joke Contest - TOTS 2018</li>
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  1<sup>st</sup>
                  Place - Selfie Contest - Institute of Industrial and Systems Engineers Great Lakes Regional Conference 2018</li>
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  1<sup>st</sup>
                  Place - Oregon State Policy Debate Championship - 2014</li>
                
              </ul>
            </div>
          </section>
    
        </div>
    
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
        <!-- Custom scripts for this template -->
        <script src="{% static 'js/resume.min.js' %}"></script>
    
</body>
    